
{{#each projects as |project|}}

  
   <div> <a  class="pointy " {{action "didClickLink"  project}}> <h3 class="project-title panel-title">{{project.projectTitle}}</h3> </a></div>
   

  {{/each}}
  