@font-face {
  font-family: 'Prociono-Regular';
  src: url('Prociono-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('Prociono-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Prociono-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('Prociono-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Prociono-Regular-webfont.svg#Prociono-Regular-webfont') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Junction-Regular';
  src: url('junction-regular.eot'); /* IE9 Compat Modes */
  src: url('junction-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('junction-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('junction-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('junction-regular.svg#junction-regular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Junction-Bold';
  src: url('junction-bold.eot'); /* IE9 Compat Modes */
  src: url('junction-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('junction-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('junction-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('junction-bold.svg#junction-bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Junction-Light';
  src: url('junction-light.eot'); /* IE9 Compat Modes */
  src: url('junction-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('junction-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('junction-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('junction-light.svg#junction-regular') format('svg'); /* Legacy iOS */
}