<div class="container ">
  {{partial 'navbar'}}
  <div class="main-outlet">
  {{outlet}}
</div>
</div>
<div class="fullscreen-bg">
<video loop muted volume="0" autoplay playsinline poster="assets/images/nyc.jpeg" class="fullscreen-bg__video" id="fullscreen-bg__video">
  <source src="assets/video/nyc.mp4" type="video/mp4">

  <source src="assets/video/nyc.webm" type="video/webm">
<!--
  <source src="assets/video/color_building.mp4.ogv" type="video/ogg">
-->
</video>
</div>