<div class="row">
    <div class="col-md-2 left-container">

   <H1 class="main-title">contact</h1>



  </div>
  <div class="col-md-5">
  </div>
  <div class="col-md-4 main-content">
Contact Robert at <a href='mailto:robertanthony.bcn@gmail.com'   >robertanthony.bcn@gmail.com</a>

  </div>
<div class="col-md-1">

<!--
<img src="/assets/images/pulpo.jpg"/>
-->

</div>
</div>

