<div class="row">

  <div class="col-md-2 left-container">
    <H1 class="main-title">cv</h1>

  </div>
  <div class="col-md-5">






  </div>
  <div class="col-md-4 main-content">
    <p>
      <a class="pointy-head" target="_blank" href="assets/cvs/robertanthony-eng.docx">download CV english</a> || <a
      target="_blank" class="pointy-head" href="assets/cvs/robertanthony-esp.pdf">descargar CV español</a>
    </p>
    <div id="cv"><p class="P5"><strong>Robert Anthony is an experienced interactive designer &amp; developer.</strong>

      He is a skilled graphic designer, and has done some work in print and packaging.

      He also specializes in producing interactive experiences using web technologies such as

    </p>
      <ul>
        <li>Javascript (ES6)
        </li>
        <li>Ember
        </li>
        <li>Express
        </li>
        <li>Mongoose
        </li>
        <li>MongoDB
        </li>
        <li>Handlebars, Jade
        </li>
        <li>OOP
        </li>
        <li>HTML5
        </li>
        <li>CSS3
        </li>
        <li>Wordpress
        </li>
        <li>Bootstrap 3
        </li>
        <li>SASS, some Compass
        </li>
        <li>GSAP animation
        </li>
        <li>jQuery
        </li>
        <li>Actionscript 3
        </li>
        <li>Adobe Creative Suite</li>
      </ul>


      <p class="P5">C1 Spanish, C1 German, native English</p>


      <h2>Experience</h2>


      <h3>Interactive Designer and Developer </h3>

      <p>2009 - Present</p>

      <p>New York</p>

      <p><span class="Internet_20_link"><span class="T1">www.electriccolor.net</span></span>
      </p>

      <p>Work on a freelance basis as an interactive designer and developer. </p>

      <p>Currently working as volunteer on open-source NodeJS project.</p>

      <p>Clients have included Barnes and Noble, Grey, Saatchi &amp; Saatchi, Organic, NYC Board of Education, GSW, TMP,
        &nbsp;TBWA\Chiat\Day, Sudler Digital, Lyonheart, CDM, Modelinia, Ammirati, Merkley &amp; Partners,
        Atmosphere/BBDO,
        Sherman Advertising, et al. &nbsp;</p>


      <p>Projects have included:</p>

      <p><span class="T1">• Developer and technical consultant at BGB. &nbsp;Co-developed large multimedia application and ported application to AIR framework.</span>
      </p>

      <p><span class="T1">• Project architect and lead developer for Organic, NYC Board of Education</span></p>

      <p><span class="T1">• AS3 development for pharmaceutical advertising (Tablet PC, Exploria) for Draft FCB, Lyonheart, CDM, GSW</span>
      </p>

      <p><span class="T1">• Pharmaceutical CD-ROM development for Sudler</span></p>

      <p><span class="T1">• Post-production AS3 coding consultant for Modelinia.com</span></p>

      <p><span class="T1">• Interactive banner for Michelin (through Chiat\Day)</span></p>


      <h3>Senior Flash Developer </h3>

      <p>Proof Interactive</p>

      <p class="P6">www.proofinteractive.com</p>

      <p>January 2008 - January 2009</p>

      <p>New York</p>

      <p>Worked as senior developer for leading interactive agency on freelance basis. &nbsp;Developed in AS3,
        interfaced with PHP backends (via XML) and was responsible for project architecture on numerous high-profile
        projects</p>


      <p><span class="T1">• Clients include Intel, Hormel, Spam, Nestle, Entergy, Celestial Seasonings, Altria</span>
      </p>

      <p><span class="T1">• Developed Hormel Interactive Kitchen</span></p>

      <p><span class="T1">• Developed Intel Bulletin Board</span></p>

      <p><span class="T1">• Developed Take Care of Texas Interactive House</span></p>

      <p><span class="T1">• Developed Yardwise Interactive Game</span></p>

      <p><span class="T1">• Led development on numerous high-profile projects</span></p>

      <p><span class="T1">• Developed project architecture, OOP models, user experience flow</span></p>

      <p><span class="T1">• Helped take projects from brainstorm, through development to launch</span></p>

      <p><span class="T1">• Developed in Actionscript 3, integrated video and other media</span></p>

      <p><span class="T1">• Interfaced with PHP/XML backends</span></p>


      <h3>Creative Director/Senior Designer </h3>

      <p>Electric Color </p>

      <p>2000-2006</p>

      <p>New York</p>

      <p>Founder, art director and designer for new media/web development enterprise. &nbsp;</p>

      <p><span class="T1">• Created University of Pennsylvania Medical School Corporate Site</span></p>

      <p><span
        class="T1">• Created University of Pennsylvania Biomedical Research &amp; Education Foundation Site</span>
      </p>

      <p><span class="T1">• Created Warchol Photography Site</span></p>

      <p><span class="T1">• Created Manhattan Rickshaw Company Site</span></p>

      <p><span class="T1">• Create all design, oversee all client contact and project management. </span></p>

      <p><span class="T1">• Manage backend programers to produce large PHP/MySQL CMS sites</span></p>


      <h3>Web Designer </h3>

      <p>Online Development &amp; Marketing, Inc.</p>

      <p>1998-2001</p>

      <p>New York</p>

      <p>Web Designer for large New York web design firm.</p>

      <p><span class="T1">• Designed major websites: took ideas from initial client contact through branding conceptualization to final composite</span>
      </p>

      <p><span class="T1">• Produced major dynamic websites in conjunction with backend designers</span></p>

      <p><span class="T1">• Implemented designs of other designers</span></p>

      <p><span class="T1">• Handled client contact and brainstorming </span></p>


      <h3>Macintosh Programmer </h3>

      <p>Chicago</p>

      <p>Freelance Macintosh computer programmer</p>

      <p><span class="T1">• Programmed major projects in C++, C, HyperCard. </span></p>

      <p><span class="T1">• Produced native Macintosh applications using Macintosh SDK </span></p>

      <p><span class="T1">• Clients included major Chicago law firms</span></p>

      <p><span class="T1">• Project managed substantial computing projects involving programming team.</span>
      </p>


      <h2>Education</h2>


      <h3>New York Studio School for Painting, Drawing &amp; Sculpture </h3>

      <p>3-year Certificate in Studio Art</p>

      <p>New York</p>

      <p class="P6">www.nyss.org</p>

      <p>3-year Certificate in Painting &amp; Sculpture (3 year, full-time, 40 hour/week program in studio
        art). Winner, Merit Award for sculpture. 3 year winner, Ramapo Scholarship.</p>

      <h3>Bridgeview School of Fine Art </h3>

      <p>Studies in traditional sculpture and painting</p>

      <p>New York</p>

      <p class="P6">www.academicart.com</p>

      <p>One year intensive study in traditional sculpture and drawing techniques under Russian tutelage.</p>


      <h3>University of Chicago Booth School of Business </h3>

      <p>MBA</p>

      <p>Chicago, IL</p>

      <p class="P6">www.chicagobooth.edu</p>

      <p>MBA from the top-ranked US graduate business school. &nbsp;Honor student. Beta Gamma Sigma honors
        society. </p>


      <h3>Universität St. Gallen </h3>

      <p>Graduate studies in business, economics, consulting </p>

      <p>St. Gallen Switzerland</p>

      <p class="P6">www.unisg.ch</p>

      <p>One year of graduate studies in economics, consulting, business studies and banking at the leading
        Swiss business school. Classes conducted and work produced entirely in German. Consulting practicum with Swiss
        firm.</p>


      <h3>Universität Hamburg </h3>

      <p><span class="T3">DAAD Sonderdirektstipendiat. &nbsp;</span><span class="T1">Full-stipend student in political science and history </span>
      </p>

      <p>Hamburg, Germany</p>

      <p class="P6">www.uni-hamburg.de</p>

      <p>One year study in political science and history. Classes conducted and work produced entirely in
        German. Recipient of full scholarship, travel expenses and stipend awarded by German Academic Exchange Service
        (funded by German government).</p>


      <h3>University of North Carolina </h3>

      <p>BA in Political Science</p>

      <p>Chapel Hill, NC </p>

      <p class="P6">www.unc.edu</p>

      <p>Phi Beta Kappa</p></div>
  </div>
  <div class="col-md-1">
    asdfñlkj
  </div>
</div>