<div class="row">
<div class="col-md-5  ">
<!--
<img class="hidden-sm hidden-xs" src="/assets/images/vintage-public-domain-chemistry-illustration.png" />
-->

</div>
<div class="col-md-6 main-content main-content-index">

<p>Robert Anthony.</p>
<p>
Innovative design.
Graphics and code.
Creativity, ingenuity, flair. Specializing in innovative web & graphic design, front-end development, and general graphic and programmatic prestidigitations. NodeJS, Ember, Mongoose, MongoDB, SASS, OOP, HTML5, Javascript, CSS3, Greensock animation, Bootstrap, Photoshop, Webstorm, Handlebars, & Adobe Creative Suite. Excellent visual & graphic design, Some WP-modding thrown into the mix.</p>
</div>
<div class="col-md-1 right-col">
</div>
</div>