<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}robert anthony{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'projects' tagName="li"}}<a href="">projects</a>{{/link-to}}
            {{#link-to 'cv' tagName="li"}}<a href="">cv</a>{{/link-to}}
            {{#link-to 'contact' tagName="li"}}<a href="">contact</a>{{/link-to}}
      </ul>




    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>